* {
    font-family: didot, serif;
    }
    
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: black;
        color: #9e9ef6;
        border-bottom: #9e9ef6 10px solid;
        font-family: didot, serif;
        font-size: xx-large;
        font-weight: 900;
    }
    
    
    nav a {
        padding: 10px;
        color: #9e9ef6;
    }
    
    